body {
	font-family: 'Open Sans', sans-serif;
	padding: 0px 50px 0px 50px;
	background-image: url("background.png");
	background-repeat: repeat;
}
.boxed {
	border: solid 3px #000000;
	border-radius: 15px;
	background-color: #ffffff;
	display: inline-block;
}
img {
	padding-bottom: 10px;
}
p {
	padding-left: 25px;
	padding-right: 25px;
}
a:link {
	text-decoration: none;
	color: #000077;
}
a:visited {
	text-decoration: none;
	color: #000077;
}
a:hover {
	text-decoration: none;
	color: #0000cc;
}
a:active {
	text-decoration: none;
	color: #0000ff;
}