/*
	Styling for the header, content, and footer of all pages
 */

body, div, span, h1, h2, h3, p, img, header, footer, nav, section {
  padding: 0;
  margin: 0;
  border: 0;
}

body, html {
  height: 200%;
}

.header, .about, .skills, .footer {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height:100%;
    position:absolute;
}

.header {
    background-image: url("../images/header-background.png");
    background-repeat: repeat;
    top:0px;
}

.about {
    background-image: url("../images/about-background.png");
    background-repeat: repeat;
    top:100%;
}

.skills {
    background-image: url("../images/skills-background.png");
    background-repeat: repeat;
    top:200%;
}

.footer {
    background-image: url("../images/contact-background.png");
    background-repeat: repeat;
    top:300%;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
}

.nav ul {
  list-style: none;
}
